body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.TaskInput {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.TaskList {
  list-style: none;
  padding: 0;
}

.TaskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.TaskList li.done {
  background-color: #c8e6c9;
  text-decoration: line-through;
}

.TaskList li button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.TaskList li button.delete {
  color: #ff3d00;
}

.TaskList li button.done {
  color: #4caf50;
}
